@page
@model BookStore.Pages.Books.IndexModel
<br />
<h2>List of books</h2>

<form method="get">
    <input type="text" name="SearchTerm" value="@Model.SearchTerm" placeholder="Search by book name or author..." style="width: 300px;" />
    <button type="submit" class="btn btn-primary btn-sm">Search</button>
</form>
<br />
<a class='btn btn-primary btn-sm' href='/Books/Create'>Add new book</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Book name</th>
            <th>Author</th>
            <th>Publishing year</th>
            <th>Language</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.listBooks)
        {
            <tr>
                <td>@book.id</td>
                <td>@book.bookName</td>
                <td>@book.author</td>
                <td>@book.publishYear</td>
                <td>@book.originalLanguage</td>
                <td>@book.genre</td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/Books/Edit?id=@book.id">Edit book</a>
                    <a class="btn btn-danger btn-sm" href="/Books/Delete?id=@book.id">Delete book</a>
                </td>
            </tr>
        }

    </tbody>
</table>
